.main-container {
  @extend .container-viewport;
}

.main-grid {
  @include xy-grid();
  @include xy-gutters($gutters: 0);
  //margin-top: 1rem;
  @include breakpoint(medium) {
    //margin-top: 3rem;
  }

  &.sidebar-left {
    // Place the sidebar below main content on small screens ...
    @include breakpoint(small) {
      .main-content { order: 1; }
      .sidebar { order: 2; }
    }

    // ... and to the left on medium-up screens, when using the sidebar-left template
    @include breakpoint(medium) {
      .main-content { order: 2; }
      .sidebar { order: 1; }
    }
  }

  // Full width template
  .main-content-full-width {
    @include xy-cell($size:12,$gutters:0);
  }

  // Default template
  .main-content {
    @include breakpoint(small) {
      @include xy-cell($size:12,$gutters:0);
    }

    @include breakpoint(medium) {
      @include xy-cell($size:12,$gutters:0);
    }
    &.with-sidebar {
      @include breakpoint(medium) {
        @include xy-cell($size:8,$gutters:0);
      }
    }
  }

  .sidebar {
    @include breakpoint(small) {
      @include xy-cell($size:12,$gutters:0);
    }

    @include breakpoint(medium) {
      @include xy-cell($size:4,$gutters:0);
      margin-top: 1rem;
    }

  }
}
