$sub_footer_color: $black;
.sub-footer-container {
  background-color: darken($nav-color,5%);
  .footer-grid {
    @include xy-grid-container;
    @include xy-grid;
    padding: rem-calc(10) 0;

    section {
      @include xy-cell(auto);
      @include breakpoint(small down) {
        text-align: center;
      }
    }
    p {
      margin-bottom: 0;
      font-size: 0.8rem;
      color: $sub_footer_color;
    }

    a {
      color: $sub_footer_color;
      &:hover {
        color: $primary-color;
      }
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }
}