// Navigation breakpoints
.mobile-menu,
.site-title-bar {
  @include hide-for(nav);
}

.desktop-menu,
.site-navigation .top-bar-left {
  @include show-for(nav);
}

// Header Container
#header-container {
  // The container of the page that expands to a certain px (2000px)
  @extend .container-viewport;
  header.site-header {
    background-color: $nav-color;
  }
}

// WP post navigation
.post-navigation {
  @include clearfix;
}
.nav-previous {
  float:left;
}

.nav-next {
  float:right;
}