$desktop-nav-color: $white;
$desktop-nav-sticky-color: $primary-color;
$desktop-nav-utility-sticky-color: $primary-color;
$desktop-nav-dropdown-menu-bg: $nav-color;
// Top Container

#navigation-desktop {
  background-color: transparent;
  // Set content to be content length
  @extend .container-content;
  .top-bar-left {
    // Logo
    .logo {
      img {
        max-width: 200px;
        height: auto;
      }
    }
  }
  .top-bar-right {
    // Utility Navigation
    ul.desktop-menu-utility {
      @extend .align-right;
      // Parent Menu item
      >li {
        >a {
          font-size: 0.9rem;
          text-transform: uppercase;
          color: $desktop-nav-color;
          &:hover,
          &:focus {
            color: darken($desktop-nav-color,20%);
          }
        }
        // If the page is the current menu item, this will show:
        &.is-active a {
          color: $desktop-nav-color;
        }
      }
    }
    // Main Navigation
    ul.desktop-menu {
      // Parent Menu Item
      >li {
        // DEFAULT
        >a {
          color: $desktop-nav-color;
          text-transform: uppercase;
          font-weight: bold;
          &:hover,
          &:focus {
            color: darken($desktop-nav-color,20%);
          }
        }
        // ACTIVE - If the page is the current menu item, this will show:
        &.is-active >a {
          color: darken($desktop-nav-color,10%);
        }
        // DROPDOWN MENU
        &.is-dropdown-submenu-parent {
          >a {
            padding-right: 1rem; // This removes the padding for the triangle dropdown icon
            &:after {
              display: none; // This removes the triangle icon
            }
          }
        }

        // Dropdown Submenu
        .is-dropdown-submenu {
          background-color: $desktop-nav-dropdown-menu-bg;
          border: 0;
          .is-dropdown-submenu-item {
            a {

            }
          }
        }
      }
    }
  }
}

// Sticky Header
header.sticky {
  // Scrolled Down
  &.is-stuck {
    #navigation-desktop {
      ul.desktop-menu-utility {
        // Parent Menu item
        >li {
          >a {
            font-size: 0.9rem;
            text-transform: uppercase;
            color: $desktop-nav-utility-sticky-color;
            &:hover,
            &:focus {
              color: darken($desktop-nav-utility-sticky-color,20%);
            }
          }
          // If the page is the current menu item, this will show:
          &.is-active a {
            color: $desktop-nav-utility-sticky-color;
          }
        }
      }
      ul.desktop-menu {
        >li {
          >a {
            color: $desktop-nav-sticky-color;
          }
        }
      }
    }
  }
}

// Admin bar
// Admin Bar Fix
.admin-bar {
  #header-container {
    header.site-header {
      &.is-stuck {
        margin-top: 32px !important;
        @media screen and (max-width: 783px) {
          margin-top: 46px !important;
        }
      }
    }
  }
}