// Navigation breakpoints
.mobile-menu,
.site-title-bar {
  @include hide-for(nav);
}

.desktop-menu,
.top-bar-utility,
.site-navigation .top-bar-left {
  @include show-for(nav);
}

// Header Container
#header-container {
  // The container of the page that expands to a certain px (2000px)
  @extend .container-viewport;
  margin-top: 0;
  z-index: 10;
  header.site-header {
    .navigation-desktop-container {
      background-color: $nav-color;
    }
  }

  // Transparent Header?
  &.transparent { // Transparent Header
    position: fixed;
    width: 100%;
    z-index: 100;
    header.site-header {
      .navigation-desktop-container {
        background-color: transparent;
      }
      &.is-stuck {
        .navigation-desktop-container {
          background-color: $nav-color;
        }
      }
    }
  }
}

// WP post navigation
.post-navigation {
  @include clearfix;
}

.nav-previous {
  float: left;
}

.nav-next {
  float: right;
}