// Navigation breakpoints
.mobile-menu,
.site-title-bar {
  @include hide-for(nav);
}

.desktop-menu,
.site-navigation .top-bar-left {
  @include show-for(nav);
}

// Global Colors
$desktop-nav-item-color: $dark-gray;

// Global Header

#header-container {
  &.transparent { // Transparent Header
    position: fixed;
    width: 100%;
    z-index: 10;
    header.site-header {
      background-color: transparent;
      &.is-stuck {
        background-color: $nav-color;
      }
    }
  } // .transparent Class
  header.site-header {
    background-color: $nav-color;
  }
}


// Tablet and desktop menu

#main-navigation {
  @extend .container;
  background-color: transparent; // Default is $nav-color
  ul {
    background-color: transparent; // Default is $nav-color
  }
  .logo {
    img {
      max-width: 200px;
      height: auto;
    }
  }

  .menu a {
    color: $desktop-nav-item-color;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: bold;
    font-size: 0.8rem;
    line-height: 1;

    &:hover:not(.button) {
      background-color: #42525D;
    }
  }

  .menu .active > a {
    background-color: #ccc;
  }

  .menu > li:not(.menu-text) > a {
    padding: 1rem;
  }
  //.menu li:not(:last-child) { border-right: 1px solid #4e4e4e; } // Separators if you want them.

  .dropdown.menu .submenu {
    border: 0;
  }
  .dropdown.menu .has-submenu.is-down-arrow a {
    padding-right: 1rem;
  }
  .dropdown.menu .has-submenu.is-down-arrow > a::after {
    border: 0;
  }
  .dropdown.menu:first-child > li.is-dropdown-submenu-parent > a::after {
    display: none;
  }
}

.site-navigation {
  @include breakpoint(small only) {
    padding: 0; // prevents container visibility on small screens
  }
}

// WP post navigation
.post-navigation {
  @include clearfix;
}

.nav-previous {
  float: left;
}

.nav-next {
  float: right;
}
